<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Edit Your Listing</h3>
  <div class="col-8 mx-auto mt-3">
    <form
      action="/listings/<%= editListing.id %>?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div>
        <label for="title" class="form-label">Title</label>
        <br />
        <input
          type="text"
          id="title"
          name="listing[title]"
          value="<%= editListing.title %>"
          class="form-control"
          pattern="^[a-zA-Z ]+$"
          required
        />
        <div class="invalid-feedback">Please enter a title.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <div>
        <label for="description" class="form-label">Description</label>
        <br />
        <textarea
          id="description"
          name="listing[description]"
          rows="5"
          cols="100"
          class="form-control"
          pattern="^[a-zA-Z0-9\s,.!?]+$"
          required
        >
<%= editListing.description %></textarea
        >
        <div class="invalid-feedback">Please enter a Description.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <div>
        <label for="filename" class="form-label">Image name</label>
        <br />
        <input
          type="text"
          id="filename"
          name="listing[image][filename]"
          value="<%= editListing.image.filename %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter image name.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <div>
        <label for="url" class="form-label">Image URL</label>
        <br />
        <input
          type="text"
          id="url"
          name="listing[image][url]"
          value="<%= editListing.image.url %>"
          class="form-control"
          required
        />
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-6 ml-3 mr-3 p-3">
          <label for="price" class="form-label">Price</label>
          <br />
          <input
            type="number"
            name="listing[price]"
            id="price"
            value="<%= editListing.price %>"
            class="form-control"
            min="1"
            step="1"
            required
          />
          <div class="invalid-feedback">Please enter valid Price.</div>
          <div class="valid-feedback">Looks Good</div>
        </div>
        <br /><br />
        <div class="col-md-6 ml-3 mr-3 p-3">
          <label for="location" class="form-label">Location</label>
          <br />
          <input
            type="text"
            id="location"
            name="listing[location]"
            value="<%= editListing.location %>"
            class="form-control"
            pattern="^[a-zA-Z ]+$"
            required
          />
          <div class="invalid-feedback">Please enter a valid Location.</div>
          <div class="valid-feedback">Looks Good</div>
        </div>
      </div>
      <br /><br />
      <div>
        <label for="country" class="form-label">Country</label>
        <br />
        <input
          type="text"
          id="country"
          name="listing[country]"
          value="<%= editListing.country %>"
          class="form-control"
          pattern="^[a-zA-Z ]+$"
          required
        />
        <div class="invalid-feedback">Please enter a valid Country.</div>
        <div class="valid-feedback">Looks Good</div>
      </div>
      <br /><br />
      <button type="submit" class="btn btn-outline-dark">Submit Listing</button>
      <a href="/listings"
        ><button type="button" class="btn btn-outline-dark">Cancel</button></a
      >
    </form>
  </div>
</body>
