<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>All Listings</h3>
  <!-- <form action="/listings/new" method="GET">
    <button>Create New Listing</button>
  </form> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <% for(let listings of allListings) {%>
    <a href="/listings/<%=listings._id%>"
      ><div class="card" style="width: 20rem">
        <img
          src="<%=listings.image.url%>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem; object-fit: cover"
        />
        <div class="card-img-overlay">
          <%=listings.title%>
          <br />
          £<%=listings.price.toLocaleString("en-GB")%> / night <br />
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong
              ><b class="listing-title"><%=listings.title%> <br /> </b
            ></strong>
            <br />
            <%=listings.location%>, <%=listings.country%>
            <br />
          </p>
        </div></div
    ></a>
    <% } %>
  </div>

  <!--   <ul class="list">
    <% for(let listings of allListings) {%>
    <li><a href="/listings/<%=listings._id%>"><%=listings.title%></a></li>
    <% } %>
  </ul> -->
</body>
