<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="show-container">
    <h3><%= showListing.title %></h3>
    <div class="card mb-3 col-8 mx-auto mt-3">
      <img
        src="<%= showListing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 30rem; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title"><%= showListing.title %></h5>
        <p class="card-text">
          <small class="text-body-secondary"
            ><p>
              <%= showListing.location %>, <%= showListing.country %>
            </p></small
          >
          <i><small>Created by: <%= showListing.owner.username%></small></i>
        </p>
        <p class="card-text"><%= showListing.description %></p>
        <p><b>£<%= showListing.price.toLocaleString("en-GB") %></b></p>
      </div>
    </div>
    <!-- <div class="card">
      <h4>Title: <%= showListing.title %></h4>
      <p>Description: <%= showListing.description %></p>
      <p>Price: £<%= showListing.price.toLocaleString("en-GB") %></p>
      <p>Location: <%= showListing.location %></p>
      <p>Country: <%= showListing.country %></p>
    </div> -->
  </div>
  <div class="button-container">
    <a href="/listings"
      ><button type="button" class="btn btn-outline-dark">Go Back</button></a
    >
    <% if(currUser && currUser._id.equals(showListing.owner._id)) {%>
    <a href="/listings/<%= showListing.id %>/edit"
      ><button type="button" class="btn btn-outline-dark">
        Edit Listing
      </button></a
    >
    <form action="/listings/<%=showListing.id%>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-outline-danger">Delete Listing</button>
    </form>
    <%}%>
  </div>
  <br />
  <br />
  <div
    class="col-8 mx-auto mt-3 p-5 border border-dark-subtle rounded-3 border-opacity-10"
    id="leavereview"
  >
  <% if(currUser){%>
  <div>
    <h4 class="text-center">Leave a Review</h4>
    <hr />
    <br />
    <form
      action="/listings/<%=showListing.id%>/reviews"
      method="POST"
      class="needs-validation"
      novalidate
      id="reviewForm"
    >
      <div>
        <label for="rating" class="form-label">Rating</label>
        <br />
        <input
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
          value="3"
          class="form-range"
          required
        />
        <div class="invalid-feedback">Please provide a rating.</div>
        <br /><br />
      </div>
      <div>
        <label for="comment" class="form-label">Comment</label>
        <br />
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
          pattern="^[a-zA-Z0-9\\s,.!?]+$"
        ></textarea>
        <div class="invalid-feedback" id="commentLengthError">
          Please enter a minimum of 15 characters.
        </div>
        <div class="invalid-feedback">
          Please enter only letters, numbers, spaces, commas, periods,
          exclamation marks, or question marks.
        </div>
        <div class="valid-feedback">Looks Good</div>
        <br /><br />
        <div class="button-container">
          <button type="submit" class="btn btn-outline-dark">Submit</button>
          <a href="/listings"
            ><button type="button" class="btn btn-outline-dark">Back</button></a
          >
        </div>
      </div>
    </form>
  </div>
  <%}%>
  
    <div>
      <br />
      <h3><b>All Reviews</b></h3>
      <% if(showListing.reviews.length > 0){%>
      <div class="d-flex flex-wrap justify-content-center align-items-center">
        <% for(review of showListing.reviews) {%>
        
          <div
          class="card col-5 flex-fill mt-5 border border-dark-subtle rounded-3 border-opacity-10"
        >
          <div class="card-body w-100">
            <h6 class="card-title"><%=review.author.username%></h6>
            <p class="card-text"><%=review.comment%></p>
            <p class="card-text">
              <i class="fa-solid fa-star"></i><%=review.rating%></i> Stars
            </p>
          </div>
          <%if(currUser && currUser._id.equals(review.author._id)){%>
          <form action="/listings/<%=showListing.id%>/reviews/<%=review.id %>?_method=DELETE" method="POST" class="mb-3 text-center" >
            <button class="btn btn-sm btn-outline-dark">Delete</button>
          </form>
          <%}%>
        </div>
        <%}%>
      </div>
      <%if(currUser) {%>
        <p class="text-center"><a href="#leavereview">Add a Review</a></p>
        <%} else{%>
          <p class="text-center"><a href="http://localhost:8080/login">Login</a> to add a Review</p>
          <%}%>
      <%} else if(showListing.reviews.length == 0 && !currUser) {%>
        <p class="text-center">No Reviews yet, <a href="http://localhost:8080/login">login</a> to add a Review</p>
        <%} else if(showListing.reviews.length == 0 && currUser){%>
          <p class="text-center"><a href="#leavereview">Be the First to Leave a Review</a></p>
          <%}%>
    </div>
  </div>
  <script>
    const form = document.getElementById("reviewForm");
    const commentInput = document.getElementById("comment");
    const commentLengthError = document.getElementById("commentLengthError");
    const minCommentLength = 15;

    form.addEventListener("submit", function (event) {
      if (!form.checkValidity() || !validateCommentLength()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    });

    commentInput.addEventListener("input", validateCommentLength);

    function validateCommentLength() {
      const commentValue = commentInput.value.trim();
      if (commentValue.length < minCommentLength) {
        commentLengthError.style.display = "block";
        commentInput.classList.add("is-invalid");
        return false;
      } else {
        commentLengthError.style.display = "none";
        commentInput.classList.remove("is-invalid");
        return true;
      }
    }
  </script>
</body>
