<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h1>WanderLust</h1>
  <h3>Listing Details</h3>
  <h4>Title: <%= showListing.title %></h4>
  <p>Description :<%= showListing.description %></p>
  <p>Price: £<%= showListing.price.toLocaleString("en-GB") %></p>
  <p>Location: <%= showListing.location %></p>
  <p>Country: <%= showListing.country %></p>
  <div class="button-container">
    <a href="/listings"><button type="button">Go Back</button></a>
    <a href="/listings/<%= showListing.id %>/edit"
      ><button type="button">Edit Listing</button></a
    >
    <form action="/listings/<%=showListing.id%>?_method=DELETE" method="POST">
      <button type="submit">Delete Listing</button>
    </form>
  </div>
</body>
